<table class="w-full text-left border-collapse">
  <thead>
    <tr class="bg-gray-50 border-b border-gray-200 text-gray-700 text-sm uppercase">
      <th class="px-6 py-3 font-semibold"> <%= sortable('file_number', 'Número') %> </th>
      <th class="px-6 py-3 font-semibold text-center"> <%= sortable('subjects.name', 'Tema') %> </th>      
      <th class="px-6 py-3 font-semibold text-center"> <%= sortable('destinations.name', 'Destino') %> </th>
      <th class="px-6 py-3 font-semibold text-center">Responsable</th>
      <% if params[:treated] == 'true' %>
        <th class="px-6 py-3 font-semibold text-center">Fecha tratado</th>
      <% end %>
      <th class="px-6 py-3 font-semibold text-center">Acciones</th>
    </tr>
  </thead>

  <tbody class="divide-y divide-gray-100 text-gray-700">
    <% @daily_agenda_expedients.each do |expedient| %>
      <%= render "agenda_expedient", expedient: expedient %>
    <% end %>
    <% if @daily_agenda_expedients.empty? %>
      <tr>
        <td class="p-6 font-medium col-span-12">No hay expedientes agregados aún</td>
      </tr>
    <% end %>
  </tbody>
</table>
