services:
  web:
    build: .
    container_name: rails_app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - ./db/development.sqlite3:/app/db/development.sqlite3
    environment:
      RAILS_ENV: development
    stdin_open: true
    tty: true