services:
  web:
    build: .
    container_name: rails_app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/app/assets/builds
      - ./db:/app/db
    environment:
      RAILS_ENV: development
    stdin_open: true
    tty: true
