@layer components {
  .destinations-title {
    @apply text-2xl font-semibold text-gray-800;
  }

  .destinations-table {
    @apply w-full text-left border-collapse;
  }

  .destinations-header-tr {
    @apply bg-gray-50 border-b border-gray-200 text-gray-700 text-sm uppercase;
  }

  .destinations-header-tr th {
    @apply px-6 py-3 font-semibold
  }
  
  .destinations-header-tr th:not(:first-child) {
    @apply text-center
  }

  .destinations-header-tr th:first-child {
    @apply w-1/2
  }

  .destinations-body {
    @apply divide-y divide-gray-100 text-gray-700;
  }

  .destinations-body tr {
    @apply hover:bg-gray-100 transition;
  }

  .destinations-body tr td {
    @apply px-6 py-4 transition duration-300 font-medium;
  }

  .destinations-body tr td:not(:first-child) {
    @apply text-center;
  }

  .destinations-body tr td:last-child {
    @apply space-x-2;
  }

  .destinations-body tr td a {
    @apply hover:underline font-medium;
  }
}