<%= turbo_stream.replace "modal" do %>
  <%= render "shared/modal" do %>
    <div class="modal-container">
      <h2 class="modal-title">Nuevo tema</h2>
      <%= render "form", subject: @subject %>
    </div>
  <% end %>
<% end %>