<table class="w-full text-left border-collapse">
  <thead>
    <tr class="bg-gray-50 border-b border-gray-200 text-gray-700 text-sm uppercase">
      <th class="w-1/2 px-6 py-3 font-semibold">Nombre</th>
      <th class="w-1/4 px-6 py-3 font-semibold text-center">¿Es comisión?</th>
      <th class="w-1/4 px-6 py-3 font-semibold text-center">Acciones</th>
    </tr>
  </thead>

  <tbody class="divide-y divide-gray-100 text-gray-700">
    <% destinations.each do |destination| %>
      <%= render "destination", destination: destination %>
    <% end %>

    <% if destinations.empty? %>
      <tr>
        <td class="p-6 font-medium">No hay destinos cargados aún</td>
      </tr>
    <% end %>
  </tbody>
</table>
