<div class="index-container">
  <div class="index-background">
    <div class="index-title-container">
      <h2 class="text-2xl font-semibold text-gray-800">Destinos</h2>
      <%= new_modal_button('Nuevo destino', new_destination_path) %>
    </div>

    <%= turbo_frame_tag "destinations_table" do %>
      <%= render "table", destinations: @destinations %>
    <% end %>
  </div>
</div>

<!-- MODAL -->
<%= turbo_frame_tag "modal" %>