<%= render "shared/modal", modal_width: 'w-full' do %>
  <div class="modal-container">
    <h2 class="modal-title">Nuevo destino</h2>
    <%= render "form", destination: @destination %>
  </div>
<% end %>