<%= render 'shared/modal' do %>
  <div class="modal-container animate-scale-in space-y-2">
    <h2 class="modal-title">Marcar como tratado</h2>
    <div class="p-4 text-lg text-gray-600">
      ¿Marcar el expediente <span class="font-bold"><%= @expedient.file_number %></span> como tratado?
    </div>
    <div class="flex justify-end gap-4 p-2">
      <%= close_modal_button %>  
      <%= link_to 'Confirmar', 
          mark_expedient_as_treated_daily_agenda_path(@expedient.daily_agenda, expedient_id: @expedient.id, page: params[:page]),
          data: { turbo_method: :put }, class: 'bg-primary-color text-white px-4 py-2 rounded-lg transition font-medium' %>  
    </div>
  </div>
<% end %>