<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= @title || "Listado de Expedientes" %></title>

    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
      }

      h1 {
        text-align: center;
        margin-bottom: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th, td {
        border: 1px solid #000;
        padding: 4px;
      }

      th {
        background-color: #eaeaea;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
